---
import Base from "../../layouts/Base.astro"
import { getSimpleDate, getSlug, sortByYear } from "../../lib"

const posts = sortByYear(await Astro.glob("./*.md"))
console.log(posts)
const years = Object.keys(posts).sort().reverse()
---
<Base title="posts">
    <h1 style="text-align: center;">Posts</h1>

    {years.map(year => (
        <h2>{year}</h2>
        <ul>
            {posts[year].map(post => (
                <li>
                    <a href={`/posts/${getSlug(post.file)}`}>{post.frontmatter.title}</a> - <time>{getSimpleDate(post.frontmatter.created)}</time>
                </li>
            ))}
        </ul>
    ))}

</Base>