$color-blossom: #FF7452;
$color-fade: #FFBDAD;

$color-bg: #121212;
$color-bg-alt: #000000;

$color-text: #D9E2EC;
$font-size-base: 1.35rem;

$font-family-base: "Aleo", serif;
$font-family-heading: "Poppins", sans-serif;

@import "../sakura.scss";