---
const links = [
    {"name": "RSS", "url": "/posts/feed.xml"}
]
const socials = [
    {"name": "GitHub", "url": "https://github.com/meizuflux"},
    {"name": "Steam", "url": "https://steamcommunity.com/id/meizuflux"},
    {"name": "Email", "url": "mailto:hello@meizuflux.com"},
    {"name": "Discord", "url": "https://discord.com/users/809587169520910346"},
    {"name": "YouTube", "url": "https://www.youtube.com/channel/UCymZdclkcHqM1SbCesRnkYg"}
]
---
<footer class="h-stack">
    <div>
        <a href="/posts/feed.xml">RSS</a>&nbsp; · &nbsp;Copyright 2022 - {new Date().getFullYear()} meizuflux
    </div>
    <a href="https://github.com/meizuflux/portfolio" class="img-link"><img src="/github-mark-white.svg" height="24" width="24"></a>
</footer>