---
import { Image } from "astro:assets";

import githubIcon from "@assets/socials/github.svg";
import discordIcon from "@assets/socials/discord.svg";

const socials = [
    {"name": "GitHub", "url": "https://github.com/meizuflux", "icon": githubIcon},
    {"name": "Discord", "url": "https://discord.com/users/809587169520910346", "icon": discordIcon},
]
---
<footer>
    <p style="margin-bottom: 0">© 2022 - {new Date().getFullYear()} meizuflux</p>
    <div>
        {socials.map(social => (
            <a href={social.url} class="icon-link" aria-label={social.name}>
                <Image src={social.icon} height="24" width="24" alt={social.name} />
            </a>
        ))}
    </div>
</footer>