---
const links = [
    {"name": "RSS", "url": "/posts/rss.xml"}
]
const socials = [
    {"name": "GitHub", "url": "https://github.com/meizuflux"},
    {"name": "Steam", "url": "https://steamcommunity.com/id/meizuflux"},
    {"name": "Email", "url": "mailto:hello@meizuflux.com"},
    {"name": "Discord", "url": "https://discord.com/users/809587169520910346"},
    {"name": "YouTube", "url": "https://www.youtube.com/channel/UCymZdclkcHqM1SbCesRnkYg"}
]
---
<footer class="h-stack">
    <p>© 2022 - {new Date().getFullYear()} meizuflux</p>
    <div>
        <a href="/posts/rss.xml" class="icon-link" aria-label="RSS Feed"><img src="/rss.svg" height="24" width="24" alt="RSS Feed"></a>
        <a href="https://github.com/meizuflux/portfolio" class="icon-link" aria-label="GitHub"><img src="/github-mark-white.svg" height="24" width="24" alt="GitHub"></a>
    </div>
</footer>