---
const { title, description } = Astro.props
---
<meta charset="UTF-8">
<title>{title != "" ? title + " | meizuflux" : "meizuflux"}</title>
<meta name="description" content={description}>

<link rel="icon" type="image/png" href="/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="alternate" type="application/rss+xml" title="RSS Feed for meizuflux.com" href="/posts/feed.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Poppins&family=Aleo&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>

<noscript>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Aleo&display=swap" rel="stylesheet">
</noscript>