---
import "@styles/themes/orange.scss"

const { title, description } = Astro.props
---
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>{title != "" ? title + " | meizuflux" : "meizuflux"}</title>
<meta name="title" content={title}>
<meta name="description" content={description}>


<link rel="alternate" type="application/rss+xml" title="RSS Feed for meizuflux.com" href="/posts/feed.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

<style>
    @font-face {
        font-family: "Chivo";
        src: url("/fonts/chivo-v18-latin-regular.woff2") format("woff2");
    }

    body {
        font-family: "Chivo", sans-serif;
    }
</style>