---
const links = [
    {"name": "projects", "url": "/projects"},
    {"name": "contact", "url": "/contact"}
]
---
<header>
    <nav>
        <a href="/">meizuflux</a>
        {"{"} {links.map((link, i: number) => (
            <a href={link.url}  data-astro-prefetch>{link.name}</a><span>{i != links.length - 1 ? ", " : ""}</span>
        ))} {"}"}
    </nav>
</header>