---
const links = [
    {"name": "Contact", "url": "/contact"},
    {"name": "Gear", "url": "/gear"},
    {"name": "Projects", "url": "/projects"},
    {"name": "Posts", "url": "/posts"}
]
---
<header style="text-align: center">
    <nav>
        <a href="/">meizuflux</a>
        {"{"} {links.map((link, i: number) => (
            <a href={link.url}>{link.name}</a><span>{i != links.length - 1 ? ", " : ""}</span>
        ))} {"}"}
    </nav>
</header>