---
const links = [
    {"name": "about", "url": "/about"},
    {"name": "gear", "url": "/gear"},
    {"name": "projects", "url": "/projects"},
    {"name": "posts", "url": "/posts"}
]
---
<header>
    <nav>
        <a href="/">meizuflux</a>
        [ {links.map((link, i: number) => (
            <a href={link.url}>{link.name}</a><span>{i != links.length - 1 ? ", " : ""}</span>
        ))} ]
    </nav>
</header>